// 

$primary: #4945ff;
$secondary: #4a4af4;
$accent: #7b61ff;

$dark: #0e0c2a;
$dark-page: #0e0c2a;

$positive: #22c55e;
$negative: #ef4444;
$info: #3b82f6;
$warning: #f59e0b;


$card-bg: rgba(14, 12, 42, 0.4);
$card-border: rgba(255, 255, 255, 0.1);
$card-new-bg: rgba(73, 69, 255, 0.1);
$card-new-border: rgba(73, 69, 255, 0.4);
$gradient-start: #4945ff;
$gradient-end: #ff8f3c;
